xsd/dojo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ScheduleTrig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Id" type="xs:string" />
        <xs:element name="Name" type="xs:string" />
        <xs:element name="Description" type="xs:string" />
        <xs:element name="TimeStamp" type="xs:string" />
        <xs:element name="MetaData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Correct" type="xs:boolean"  minOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>