xsd/test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ScheduleTrig">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Name"/>
        <xs:element type="xs:string" name="Description"/>
        <xs:element type="xs:string" name="TimeStamp"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>


